:root {
    --fontMain: Arial, Helvetica, sans-serif;
    --fontHeader: Garamond, 'Times New Roman', serif;

    --colourError: red;

    --marginMain: 1rem;
    --marginSmall: 0.5rem;

    --recipePictureWidth: 320px;
    --recipePictureWidthBig: 480px;
}