@import '_variables.css';

* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: var(--fontMain);

    header, footer {
        font-family: var(--fontHeader);
        text-align: center;
        padding: var(--marginSmall) var(--marginMain);
    }
    section {
        margin: var(--marginMain);
        header {
            text-align: left;
        }
    }
    ul, ol {
        margin-left: var(--marginMain);
    }
    iframe {
        width: 100%;
        aspect-ratio: 16 / 10;
    }
    .standout {
        font-size: 1.2rem;
        font-weight: bold;
    }
    img {
        width: 100%;
    }
    .error {
        color: var(--colourError);
    }
}
