@import '_variables.css';

* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: var(--fontMain);

    header, footer {
        font-family: var(--fontHeader);
        text-align: center;
        padding: var(--marginSmall) var(--marginMain);
    }
    section {
        margin: var(--marginMain);
        header {
            text-align: left;
        }
    }
    ul, ol {
        margin-left: var(--marginMain);
    }
    .standout {
        font-size: 1.2rem;
        font-weight: bold;
    }
    img {
        width: 100%;
    }
    @media (min-width: 650px) {
        img {
            width: var(--recipePictureWidth);
        }
        .recipe-content {
            display: flex;
            flex-flow: row-reverse nowrap;
        }
    }
    @media (min-width: 975px) {
        img {
            width: var(--recipePictureWidthBig);
        }
    }
    .error {
        color: var(--colourError);
    }
}
